run = "cd backend && npm install --legacy-peer-deps && node app.js"
entrypoint = "backend/app.js"

[nix]
channel = "stable-22_11"

[deployment]
run = [
  "sh",
  "-c",
  "cd backend && npm install --legacy-peer-deps && node app.js",
]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
