run = "cd backend && node app.js"
entrypoint = "backend/app.js"

modules = ["nodejs-18"]

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "cd backend && npm install && node app.js"]
deploymentTarget = "cloudrun"
