* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background: #f6f7f9;
  color: #222;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

nav {
  background: white;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,.05);
}

nav a {
  margin-left: 16px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

h1, h2 {
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  margin-bottom: 12px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  padding: 10px 18px;
  border: none;
  background: #222;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: .85;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.stat-box {
  background:white;
  padding:20px;
  border-radius:10px;
  text-align:center;
  box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

.stat {
    min-width: fit-content;
}

.stat-box img{
    max-width: 300px;
}